In [3]:
import pandas as pd

In [4]:
path = 'zbiorcze1.csv'

In [5]:
df = pd.read_csv(path)
df

,NADLESNICTWO,RDLP,NAZWA FUNDACJI,KWOTA,ROK
0,Borki,Białystok,Stowarzyszenie Sportowe i Rekreacyjne w Rynie,2 000,2015
1,Borki,Białystok,SANTA Obrona Puszczy Białowieskiej,5 000,2015
2,Borki,Białystok,Stowarzyszenie Miłośników Żubrów,5 000,2015
3,Borki,Białystok,Stowarzyszenie Ruch Obrony Lasów Polskich,1 000,2015
4,Borki,Białystok,Ochotnicza Straż Pożarna w Kruklankach,2 000,2015
...,...,...,...,...,...
30909,Radoszyce,Radom,TOWARZYSTWO WSPIERANIA ROZWOJU POWIATU WSZE...,3000,2022
30910,Radoszyce,Radom,DIECEZJA SANDOM IERSKA,5000,2022
30911,NaN,NaN,NaN,NaN,NaN
30912,NaN,NaN,NaN,NaN,NaN
30913,NaN,SUMA,NaN,40 801 136,NaN

In [11]:
df['hashtags'] = ''

In [24]:
hashtags_keywords = {
    'Straż pożarna': ['straż','pożar', 'osp', 'ochotnicz','psp','państwowa straż pożarna', 'komenda powiatowej państwowej straży pożarnej', 'komendy powiatowej państwowej straży pożarnej'],
    'Kościół': ['bractw', 'święt','parafia', 'caritas', 'diecez', 'archidiecez', 'seminarium', 'kościół', 'opactw', 'kuri', 'klasztor', 'zakon', 'monaster'],
    'Szpital': ['szpital', 'rehabilit', 'terapi'],
    'Koła Gospodyń Wiejskich': ['koło gospodyń wiejskich'],
    'Policja': ['policj', 'policjantów', 'mswia', 'komend'],
    'Organizacje leśne': ['leśn','las','ptl', 'santa', 'ekolog','rolp', 'przyrod', 'lop', 'sitlid', 'stowarzyszenie inżynierów','zespół sygnalistów', 'przyjaźń', 'szkół leśnych','santa', 'scholae', 'fundacja dla niepodległej'],
    'Szkoły': ['szkół', 'szko', 'uniwersytet', 'szkoł', 'uczniow','uczniów' ,'technikum', 'sggw', 'oświat'],
    'Myśliwi': ['myśliw', 'akteon', 'łowieck', 'strzel'],
    'Sport i kultura': ['sport','rekreac', 'kultur']}

In [25]:
for index, row in df.iterrows():
    company_name = str(row['NAZWA FUNDACJI']).lower()
    hashtags = [hashtag for hashtag, keywords in hashtags_keywords.items() if any(keyword in company_name for keyword in keywords)]
    df.at[index, 'hashtag'] = ', '.join(hashtags)

In [26]:
df = df.sort_values(by='hashtag', ascending=False)

In [27]:
df

,NADLESNICTWO,RDLP,NAZWA FUNDACJI,KWOTA,ROK,hashtag
29742,Stąporków,Radom,Zespół Szkół Specjalnych przy Świetokrzyskim C...,800,2015,"Szpital, Szkoły"
9775,Głogów,Krosno,Zespół Szkół przy Szpitalu Wojewódzkim Nr 2 w ...,1 000,2015,"Szpital, Szkoły"
29766,Stąporków,Radom,Zespół Szkół Specjalnych przy Świetokrzyskim C...,800,2016,"Szpital, Szkoły"
29789,Stąporków,Radom,Zespół Szkół Specjalnych przy Świetokrzyskim C...,800,2017,"Szpital, Szkoły"
9784,Głogów,Krosno,Zespół Szkół przy Szpitalu Wojewódzkim Nr 2 w ...,1 500,2015,"Szpital, Szkoły"
...,...,...,...,...,...,...
3119,Cewice,Gdańsk,Działalność Naukowo-Techniczna KT NOT w Lęborku,500,2015,
2692,Giżycko,Białystok,"Stowarzyszenie „Dla Niepodległej”, 11-510 Wydm...",1 950,2023,
2635,Giżycko,Białystok,"Fundacja Gramy do Końca, Ul. Kościuszki 63, 41...",500,2021,
5884,Lipusz,Gdańsk,"Stowarzyszenie HAMAK, 83-441 Wiele",500,2022,
30913,NaN,SUMA,NaN,40 801 136,NaN,

In [ ]:
df.to_csv('first_iter.csv')

In [28]:
empty = df['hashtag'].apply(lambda x: x == '').sum()
empty

11457